input {
  color: var(--color-light-400);
  padding: 0.33rem 0.7rem;
  border-radius: var(--radius-sm);
  border: none;
  box-shadow: 0 0 0 1px var(--color-dark-200);
  font-size: 1.2rem;
  outline: none;
  width: 100%;
  background-color: transparent;
  transition: box-shadow 200ms ease-in-out;

  &:focus {
    box-shadow: 0 0 0 2px var(--color-dark-200);
    background-color: transparent;
  }

  &:hover {
    box-shadow: 0 0 0 2px var(--color-dark-200);
  }
}

p {
  font-size: 0.7rem;
  position: absolute;
  bottom: -1.3rem;
}
